/** RESPONSIVE HEADER **/

@media screen and (max-width: 1524px) {
    header .all-left .center-nav {
        margin-right: 5%;
    }
}

@media screen and (max-width: 1465px) {
    header .all-left .center-nav {
        margin-right: 2%;
    }
    header .all-left .left-nav li {
        padding: 13px 0;
        margin: 0 0px;
    }
        header .all-left .left-nav  {
        padding: 7.5px 0;
    }
}

@media screen and (max-width: 1400px) {
    header .all-left .center-nav {
        margin-right: 0%;
    }
    header .all-left .center-nav li {
        margin-left: 5px;
    }
    header .search-header {
        margin: 0 auto;
        text-align: center;
    }
    header .search-header form {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    header .search-header form select {
        min-width: 145px;
        margin: 0 15px;
    }
    
    
}

@media screen and (max-width: 1320px) {
   
    header .all-left .center-nav {
        padding: 29.7px 0;
    }
    header .all-left .left-nav  {
        padding: 0px 0;
    }
    header .all-left .center-nav li {
        margin-left: 1px;
    }
    header .all-left .center-nav li a {
        padding: 15px 10px;
        font-size: 15px;
    }
    header .all-left .left-nav li a {
        padding: 15px 12px;
        font-size: 15px;
    }
    header .all-left .left-nav select {
        padding: 0 10px;
        font-size: 15px;
    }
    
}
@media screen and (max-width: 1225px) {
     
     header .logo {
        display: block;
        float: none;
    }
    header .all-left .show-menu {
        display: block;
        width: 100%;
    }
    header .search-header {}
    header .search-header form {
        float: none;
        margin: 0 auto;
    }
    header .search-header form select {
        padding: 5px;
        min-width: 175px;
        width: 95%;
        margin: 0 10px;
    }
    header .search-header form button {
        width: 95%;
        margin-top: 10px;
    }
    .drop-nav { display: none;}
}

@media screen and (max-width: 1124px) {
    
    header .logo {
        margin-right: 10px;
    }
    header .all-left .show-menu {
        display: block;
        padding: 13px 0;
    }
    header .all-left .drop-nav {
        display: block;
        position: absolute;
        background: #f8f8f8;
        box-shadow: 0px 2px 10px #eee;
        overflow: hidden;
        display: none;
        min-width: 100%;
        z-index: 10;
        right: 0;
    }
}

@media screen and (max-width: 728px) {
    
    header .all-left .drop-nav .center-nav {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    header .all-left .drop-nav .left-nav {
        clear: both;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    header .all-left .drop-nav .left-nav li {
        text-align: right;
        display: block;
        padding: 0;
    }
    header .all-left .drop-nav .left-nav li select {
        display: block;
        min-width: 100%;
    }
    header .all-left .drop-nav .left-nav li a {
        padding: 10px 20px;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 560px) {

}
/** END HEADER **/

/** RESPONSIVE THREE CATS HOMEPAGE **/
@media screen and (max-width: 540px) {

    section#no-responsible h1 {
        font-size: 24px;
        
    }
    section#no-responsible h3{
        font-size: 14px;
        line-height: 35px;
    }
	
    .slider-content h4 {
        font-size: 14px;
        line-height: 40px;
    }


}
